body {
    font-family: Arial, sans-serif;
    background-color: #fff5f7;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 150px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
}

#mensagem {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

button {
    background-color: #d87093;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #c25c7d;
}

ul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

li {
    background-color: #ffe4ec;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}

.sabores{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}
 
.sabor{
    background-color: #ffe5ea;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
 
.sabor img{
    width: 60px;
    height: 60px;
}